# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Logs
logs/
*.log

# Frontend build
frontend/build/

# Backend artifacts
backend/dist/
backend/*.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sw?

# Misc
.env.local
.env.*.local
data/